!!! 5
%html
  %head
    %title=Useragent Logger
    %link{href: 'http://fonts.googleapis.com/css?family=Lato:400,700', rel: 'stylesheet', type: 'text/css'}
    :css
      h1, li, a {
        font-family: 'Lato', sans;
        -webkit-font-smoothing: antialiased;
        color: rgb(51, 51, 51);
        font-size: 16px;
        color: #34495E;
      }
      h1 {
        font-size: 18px;
        font-weight: 700;
      }
      a {
        color: #3498DB;
        text-decoration: none;
        font-size: 13px;
      }
      a:hover, a:focus, a:active {
        text-decoration: underline;
      }
      ul {
        list-style-type: none;
      }
  %body
    %h1= @useragents.shift.useragent
    %ul
      - @useragents.each do |useragent|
        %li= useragent.useragent
    %a{class: 'info', href: 'https://github.com/jakspalding/ualist'} What is this?
